/*
* @Author: sansui
* @title: scss变量（全局）
* 允许加后缀数字增加次级色
* 次级颜色做多5层，即数字最大为5
* 禁止命名内出现颜色含义的单词
* -color 后缀 设定值仅为颜色
* -base 后缀 设定值包含其他内容
* sub- 前缀 辅助
*/

/* 主题色 */
$primary-color: #f00;
$primary-color1: #ff0; /* 次级主题色1 */

/* 主题辅助色 即与主题色为同色系，只是饱和度等不一样 */
$sub-color: #f00;
$sub-color1: #ff0; /* 次级主题1辅助色，与次级主题色1对应 */

/* 页面背景色 次级最大为3 */
$bg-color: #f7f7f7;

/* 链接色 */
$link-color: #00f;
$link-hover-color: #0ff; /* 有则填写，无则去掉 */
$link-active-color: #f0f; /* 有则填写，无则去掉 */
$link-color1: #00f;
$link-hover-color1: #0ff;
$link-active-color1: #f0f;

/* 文字 */
$text-color: rgba(0, 0, 0, .65); /* 主文本色 唯一 */
/* 标题 与 次文本 允许有次级色 */
$heading-color: rgba(0, 0, 0, .85); /* 标题色 */
$heading-color1: rgba(0, 0, 0, .6); /* 次标题色 */
$sub-text-color: rgba(0, 0, 0, .45); /* 辅助文本色 */
$sub-text-color1: rgba(0, 0, 0, .75); /* 次辅助文本色 */

/* 场景/状态 唯一，不允许加数字后缀 */
$success-color: #52c41a; /* 成功色 */
$warning-color: #faad14; /* 警告色 */
$error-color: #f5222d; /* 错误色 */
$disabled-color : rgba(0, 0, 0, .25); /* 禁用/失效色 */

/* 边框 最好统一边框颜色 */
$border-color: #d9d9d9; /* 边框色 */
$border-color1: #d9d9d9; /* 次边框色 */

/* 
* 其他 
* 不仅是颜色值的设定，以base为后缀 
* 对应css的属性命名
*/
/* 圆角 */
$border-radius-base: 4px;
/* 阴影 */
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);

/* 过长或难记忆的属性，缩写 */

/* 缩写请记录在此 */
$lg-base: left, red, blue; /* 渐变 linear-gradient */